form {
    @include flexMid;
    width: 100%;
    height: 4.5rem;
    background: $colour-BgForm;
    margin-bottom: 1rem;
    input {
        border: none;
        background: $colour-BgForm;
        font-size: 1.6rem;
        &:focus-visible{
            outline: none;
        }
    }
    i {
        font-size: 1.6rem;
        padding: 1.7rem;
    }
    
}
