header {
    width: 100%;
    height: 6.4rem;
    font-family: $font-title;
    font-size: 1.5rem;
    @include flexMid;
    

}

/*.header_logo {
    font-family: $font-title;
    font-style: 3rem;
}*/
