@charset "UTF-8";
html {
  font-size: 62.5%;
  line-height: 1.15;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main section {
  width: 100%;
}

a {
  text-decoration: none;
  color: #181818;
}

header {
  width: 100%;
  height: 6.4rem;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.header_logo {
    font-family: $font-title;
    font-style: 3rem;
}*/
form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  background: #eaeaea;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
form input {
  border: none;
  background: #eaeaea;
  font-weight: 600;
  font-size: 1.5rem;
}
form input:focus-visible {
  outline: none;
}
form i {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.primary-button {
  font-size: 1.6rem;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 1.5rem;
  border-radius: 2.5rem;
  border: none;
  margin: 1rem 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #3a3a3a;
  color: white;
  width: 100%;
  height: auto;
  padding: 2rem;
  z-index: 2;
  margin-top: 2rem;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 2.2rem;
  font-weight: 300;
  margin: 0;
}
footer ul {
  list-style-type: none;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3.5rem;
  height: 11rem;
  padding: 0;
}
footer ul a {
  color: white;
}
footer ul i {
  padding-right: 1rem;
}

/*Header*/
.header_accueil {
  box-shadow: 0 1rem 1rem #dddada;
  z-index: 1;
}

.header_logo {
  padding-right: 2rem;
}

/*Sections*/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}
.presentation .reservation {
  text-align: center;
  font-size: 1.8rem;
  width: 85%;
  height: 25rem;
  margin: 0;
}

.title_section {
  font-size: 2.5rem;
  padding: 2rem;
}

.fonctionnement ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
  font-weight: bold;
}
.fonctionnement ul li {
  width: 100%;
  background: #f6f6f6;
  padding: 2.5rem;
  margin: 1rem 0;
  font-size: 1.8rem;
  border-radius: 2.5rem;
  display: inline-flex;
  align-items: center;
}
.fonctionnement ul li .number {
  color: white;
  font-size: 1.5rem;
  background-color: #9356DC;
  padding: 0.6rem 1rem;
  border-radius: 50%;
  margin-left: -3.5rem;
  margin-right: 1rem;
}
.fonctionnement ul li i {
  margin: 0 2rem;
}
.fonctionnement ul .btn_3 {
  background-color: #f2eafb;
}
.fonctionnement ul .fa-store {
  color: #9356DC;
}

.restaurants {
  background: #f6f6f6;
}
.restaurants .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
  height: 25.5rem;
  font-size: 1.8rem;
  background-color: white;
  border-radius: 1.5rem;
  position: relative;
}
.restaurants .card h3 {
  font-weight: bold;
  margin: 0;
}
.restaurants .card h3 + p {
  margin: 1rem 0;
}
.restaurants .card img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 18rem;
  margin: 0;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.nouveau {
  position: absolute;
  padding: 0.6rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #3b8468;
  right: 1.6rem;
  top: 1rem;
  background: #99E2D0;
}

.figcaption {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
}
.figcaption .fa-heart {
  padding: 0;
  font-size: 2.5rem;
  margin: 0;
}
.figcaption .fa-heart:hover {
  cursor: pointer;
  font-weight: 900;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Header*/
.header_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
}
.header_menu .header_logo {
  margin: 0;
  padding: 0;
}
.header_menu .fleche_accueil {
  font-family: "Shrikhand", cursive;
  font-style: 3rem;
  margin-left: 1.5rem;
}

.header_img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  position: fixed;
  top: 6rem;
  z-index: -1;
}

/*Sections*/
/*Le principal de la page menu: Nom du restaurant & Sections*/
.main_menu {
  position: relative;
  top: 21.5rem;
  min-height: 142rem;
  height: 100%;
  background-color: #f6f6f6;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

/*Titre page menu: Nom du restaurant*/
.title_two {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  padding: 3rem 0;
  margin: 0;
}
.title_two h2 {
  margin: 0;
}

/*L'ensemble des sections Entrées Plats & Desserts*/
.menu {
  width: 95%;
}

/*Section Entrées, section Plats OU section Desserts*/
.menu_carte {
  font-size: 1.8rem;
}
.menu_carte ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*Contenu de chaque section Entrées, Plats ou Desserts*/
.menu_container {
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  width: auto;
}
.menu_container h4 {
  margin: 0;
}
.menu_container ul {
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.menu_container .tarif {
  font-weight: bold;
}

/*Bouton Commander*/
.commander {
  padding-left: 4rem;
  padding-right: 4rem;
}

/*# sourceMappingURL=style.css.map */
