@charset "UTF-8";
/*Hover cards & btn */
@keyframes appearTrans {
  0% {
    /*transition: translateY(-10rem);*/
    transform: translateY(-4rem);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    /* transition: translateY(0);*/
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearScale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
html {
  font-size: 62.5%;
  line-height: 1.15;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main section {
  width: 100%;
}

a {
  text-decoration: none;
  color: #181818;
}

header {
  width: 100%;
  height: 6.4rem;
  font-family: "Shrikhand", cursive;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  background: #eaeaea;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
form input {
  border: none;
  background: #eaeaea;
  font-weight: 600;
  font-size: 1.5rem;
}
form input:focus-visible {
  outline: none;
}
form input::placeholder {
  color: #000;
}
form i {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.primary-button {
  font-size: 1.6rem;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 1.5rem;
  border-radius: 2.5rem;
  border: none;
  margin: 1rem 0;
  box-shadow: 0 0.5rem 1.5rem #00000033;
  transition: all 0.3s;
}
.primary-button:hover {
  box-shadow: 0 1.5rem 1rem #00000033;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.3s linear;
  opacity: 0.85;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn_heart .fa-heart {
  padding: 0;
  font-size: 2.5rem;
  margin: 0;
  /* transition: transform 0.2s linear;
   transition-delay: 0.1s;*/
  /* transition-property: font-weight;
   transition-duration: 0.1s;
   transition-timing-function: linear;*/
  /* transition:font-weight 0.1s linear, background-image 2s linear;*/
}
.btn_heart:hover {
  cursor: pointer;
}
.btn_heart:hover .fa-heart {
  font-weight: 900;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: scaleHeart 0.3s linear;
  /*color: $colour-secondary;
  text-shadow: 0 0 0.7rem $colour-primary;
  animation: battements 0.5s ease-in infinite;*/
}

@keyframes scaleHeart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*@keyframes battements {
    0% {
        color: $colour-secondary;
        text-shadow: 0 0 1rem $colour-primary;
    }
    90% {
        color: transparent;
        text-shadow: 0 0 0.5rem $colour-secondary;
    }
    100% {
        color: $colour-primary;
        text-shadow: 0 0 0.7rem $colour-secondary;
    }   
}/*
/*@keyframes anim_heart{
    0% {
        font-weight: 900;
        background: -webkit-linear-gradient($colour-secondary, $colour-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: scaleHeart 0.3s linear infinite;
    }
    100% {
        color: $colour-secondary;
        text-shadow: 0 0 0.7rem $colour-primary;
        animation: battements 0.2s ease-in infinite; 
    }
}*/
/* @media all and(min-width: 1024px) {
    .primary-button {
        font-size: 1.8rem;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 2.8rem;
        &:hover {
            font-size: 2.2rem;
        }
    }
}
*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  width: 100%;
  height: auto;
  padding: 2rem;
  z-index: 2;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 2.2rem;
  font-weight: 300;
  margin: 0;
}
footer ul {
  list-style-type: none;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3.5rem;
  height: 11rem;
  padding: 0;
}
footer ul a {
  color: white;
}
footer ul a:hover {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer ul i {
  padding-right: 1rem;
}

@media all and (min-width: 1024px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
  }
  footer h3 {
    font-size: 3rem;
  }
}
/*Header*/
.header_accueil {
  box-shadow: 0 0.3rem 1rem #00000033;
  z-index: 1;
}

.header_logo {
  padding-right: 2rem;
}

/*Sections*/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}
.presentation .reservation {
  text-align: center;
  font-size: 1.8rem;
  width: 85%;
  height: 25rem;
  margin: 0;
}

.section_title {
  font-size: 2.5rem;
  padding: 2rem;
}

.fonctionnement ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
  font-weight: bold;
}
.fonctionnement ul li {
  width: 100%;
  background: #f6f6f6;
  padding: 2.5rem;
  margin: 1rem 0;
  font-size: 1.8rem;
  border-radius: 2.5rem;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem #00000033;
}
.fonctionnement ul li .number {
  color: white;
  font-size: 1.5rem;
  background-color: #9356DC;
  padding: 0.6rem 1rem;
  border-radius: 50%;
  margin-left: -3.5rem;
  margin-right: 1rem;
}
.fonctionnement ul li i {
  margin: 0 2rem;
}
.fonctionnement ul li:hover {
  box-shadow: 0 1.5rem 1rem #00000033;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.3s linear;
  background-color: #f2eafb;
}
.fonctionnement ul li:hover .fas {
  color: #9356DC;
}
.fonctionnement ul .btn_3 {
  background-color: #f2eafb;
}
.fonctionnement ul .fa-store {
  color: #9356DC;
}

.restaurants {
  background: #f6f6f6;
  padding-bottom: 2rem;
}
.restaurants .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
  height: 25.5rem;
  font-size: 1.8rem;
  background-color: white;
  border-radius: 1.5rem;
  position: relative;
  box-shadow: 0 0.5rem 1.5rem #00000033;
}
.restaurants .card h3 {
  font-weight: bold;
  margin: 0;
}
.restaurants .card h3 + p {
  margin: 1rem 0;
}
.restaurants .card img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 18rem;
  margin: 0;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.restaurants .card:hover {
  box-shadow: 0 1.5rem 1rem #00000033;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.3s linear;
}

.nouveau {
  position: absolute;
  padding: 0.6rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #3b8468;
  right: 1.6rem;
  top: 1rem;
  background: #99E2D0;
}

.figcaption {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
}

/*loader*/
.loader_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 50rem;
  animation: visible 100ms 2s linear both;
}
.loader_section p {
  font-family: "Shrikhand", cursive;
  font-size: 10rem;
  height: 50rem;
  padding-left: 3rem;
  color: #9356DC;
  animation: flash 1.3s ease-in infinite;
  animation-delay: 0.1s;
}
.loader_section .point {
  animation: flash 1.3s ease-in infinite;
}
.loader_section .pt_1 {
  animation-delay: 0.1s;
}
.loader_section .pt_2 {
  animation-delay: 0.4s;
}
.loader_section .pt_3 {
  animation-delay: 0.7s;
}

@keyframes visible {
  from {
    z-index: 5;
    opacity: 1;
  }
  to {
    z-index: -100;
    opacity: 0;
  }
}
@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 0.7rem #FF79DA;
  }
  50% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 0.7rem #FF79DA;
  }
}
.loader {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  vertical-align: middle;
}

.loader_circles {
  border-radius: 5rem;
  border: 0.35rem ridge transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  animation: spin 2s linear infinite;
  position: relative;
}

.loader_circles::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 5rem;
  border: 0.35rem ridge transparent;
  border-left-color: #FF79DA;
  border-right-color: #9356DC;
  opacity: 0.8;
  animation: spinReverse 2s linear infinite;
}

.loader_circles::before {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  bottom: 1.2rem;
  right: 1.2rem;
  border-radius: 5rem;
  border: 0.35rem ridge transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  opacity: 0.5;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@media all and (min-width: 768px) {
  header {
    height: 9rem;
  }

  .header_accueil .header_logo {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    height: 6rem;
  }
  form i {
    font-size: 2rem;
  }
  form input {
    font-size: 2rem;
  }

  .section_title {
    font-size: 3rem;
  }

  .fonctionnement ul {
    display: flex;
  }
  .fonctionnement ul li {
    margin: 2rem;
  }

  .restaurants .section_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .restaurants .section_cards .card {
    width: 40%;
    height: 70%;
    margin: 2rem;
  }
  .restaurants .section_cards a {
    margin: 0;
  }
}
/*Header*/
.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: 0;
  z-index: 2;
}
.header_menu .header_logo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_menu .fleche_accueil {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  transition: all 0.2s linear;
  position: absolute;
  left: 1.5rem;
}

.header_img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  position: fixed;
  top: 6rem;
  z-index: -1;
}

/*Sections*/
/*Le principal de la page menu: Nom du restaurant & Sections*/
.main_menu {
  margin-top: 21rem;
  padding-bottom: 3rem;
  height: 100%;
  background-color: #f6f6f6;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

/*Titre page menu: Nom du restaurant*/
.title_two {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  padding: 3rem 0;
  margin: 0;
}
.title_two h2 {
  margin: 0;
}

/*L'ensemble des sections Entrées Plats & Desserts*/
.menu {
  width: 95%;
}

/*Section Entrées, section Plats OU section Desserts*/
.menu_carte {
  font-size: 1.8rem;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}
.menu_carte h3 {
  margin-bottom: 0.3rem;
}
.menu_carte h3::after {
  content: "";
  width: 5rem;
  height: 0.3rem;
  background: #99E2D0;
  display: block;
}
.menu_carte ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*Apparition progressive du menu*/
.entrees .menu_container:nth-child(1) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.entrees .menu_container:nth-child(2) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.entrees .menu_container:nth-child(3) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.entrees .menu_container:nth-child(4) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.plats .menu_container:nth-child(1) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
.plats .menu_container:nth-child(2) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.1s;
}
.plats .menu_container:nth-child(3) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.3s;
}

.desserts .menu_container:nth-child(1) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
.desserts .menu_container:nth-child(2) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.7s;
}
.desserts .menu_container:nth-child(3) {
  animation: appearScale;
  /* animation: appearTrans;*/
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.9s;
}

/*Contenu de chaque section Entrées, Plats ou Desserts*/
.menu_container {
  background-color: white;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  box-shadow: 0 0.5rem 1.5rem #00000033;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
}
.menu_container .container_detail {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: justify;
}
.menu_container .container_detail h4 {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_container .container_detail p {
  margin: 0;
  padding: 1rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu_container .tarif {
  width: 20%;
  text-align: center;
  font-weight: bold;
  padding-top: 3rem;
}
.menu_container .check {
  background: #99E2D0;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition: all 0.2s ease-in;
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_container .check .fa-check-circle {
  transition: transform 0.1s linear 0.2s;
  color: transparent;
  transform: rotate(-0.5turn);
}
.menu_container:hover {
  cursor: pointer;
}
.menu_container:hover .check {
  width: 30%;
  height: 100%;
}
.menu_container:hover .check .fa-check-circle {
  font-size: 2.5rem;
  color: #fff;
  position: relative;
  display: inline;
  transform: rotate(-20deg);
}
.menu_container:hover .check .container_detail {
  width: 50%;
}

/*Bouton Commander*/
.commander {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media all and (min-width: 1024px) {
  header .header_menu {
    grid-template-columns: 42% 1fr;
  }
  header .fa-arrow-left {
    font-size: 2.5rem;
    font-weight: 900;
    transition: all 0.2s linear;
  }
  header .fa-arrow-left:hover {
    font-size: 3.5rem;
  }

  .title_two {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .title_two .fa-heart {
    font-size: 4rem;
  }

  /* .menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin-top: 5rem;
      margin-bottom: 3rem;
      .menu_carte {
          width: 30%;
          height: 100%;
          margin: 1rem;
      }
      */
  /*.menu_container {
      line-height: 3rem;
      font-size: 2rem;
  }*/
}

/*# sourceMappingURL=style.css.map */
