.primary-button {
    font-size: 1.6rem;
    background: linear-gradient($colour-secondary, $colour-primary);
    color: white;
    padding: 1.5rem;
    border-radius: 2.5rem;
    border: none;
    margin: 1rem 0;
   
}

/*.heart_btn {
    border: none;
    background: $colour-primary;
    padding: 0;
    font-size: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    opacity: 0;
    &:hover {
        opacity: 100%;
    }
}*/