.primary-button {
    font-size: 1.6rem;
    background: linear-gradient($colour-secondary, $colour-primary);
    color: white;
    padding: 1.5rem;
    border-radius: 2.5rem;
    border: none;
    margin: 1rem 0;
   
}
