.primary-button {
    font-size: 1.6rem;
    font-weight: 500;
    background: linear-gradient($colour-secondary, $colour-primary);
    color: white;
    padding: 1.5rem;
    border-radius: 2.5rem;
    border: none;
    margin: 1rem 0;
    @include shadow;
    transition: all 0.3s; 
    &:hover {
        @include Hover;
        opacity: 0.85;
        color: white;
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.btn_heart {
    .fa-heart {
        padding: 0;
        font-size: 2.5rem;
        margin: 0;
       
    }
    &:hover {
        cursor: pointer;
        .fa-heart {
            font-weight: 900;
            background: -webkit-linear-gradient($colour-secondary, $colour-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: scaleHeart 0.3s linear;
        }
    }
}

@keyframes scaleHeart {
    0%{
        transform: scale(0);
    }
    100%{
        transform:scale(1);
    }
}

