html{
    font-size: 62.5%;
    line-height: 1.15;
}

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    @include flexColumn;
    font-family: 'Roboto', sans-serif;
}

main {
    @include flexColumn;
}