html{
    font-size: 62.5%;
    line-height: 1.15;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    @include flexColumn;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

main {
    @include flexColumn;
    width: 100%;
    section {
        width: 100%;
    }
}

a{
    text-decoration: none;
    color: #181818;
}

