                                                       /*Header de la page d'accueil*/

.header_logo{
    padding-right: 2rem;
}
.header_accueil{
    box-shadow: 0 0.3rem 1rem $shadow;
    z-index: 1;
}

                                        
                                                    /*Sections de la page d'accueil*/

/*Titres des sections (présentation, fonctionnement, restaurants) de la page d'accueil*/
.section_title {                   
    font-size: 2.5rem;
    padding: 2rem;
}

/*Premiere section de la page d'accueil: Présentation*/

.presentation {
    @include flexColumn;
    background: $colour-BgSection;
    .reservation {
        text-align: center;
        font-size: 1.8rem;
        width: 85%;
        height: 25rem;
        margin: 0;
    }
}

/*Deuxième section de la page d'accueil: Fonctionnement*/

.fonctionnement ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem;
    font-weight: bold;
    
    li {
        width: 100%;
        background: $colour-BgSection;
        padding: 2.5rem;
        margin: 1rem 0;
        font-size: 1.8rem;
        border-radius: 2.5rem;
        display: inline-flex;
        align-items: center;
        @include shadow;
        .number {
            color: white;
            font-size: 1.5rem;
            background-color: $colour-primary;
            padding: 0.6rem 1rem;
            border-radius: 50%;
            margin-left: -3.5rem;
            margin-right: 1rem;
        }
        i {
            margin: 0 2rem;
        }
        &:hover {
            @include Hover;
            background-color: #f2eafb;
            .fas {
                color: $colour-primary;
            }
        }

    }
    .btn_3 {
        background-color: #f2eafb;
    }
    .fa-store {
        color: $colour-primary;
    }
}

/*Troisième section de la page d'accueil: Restaurants*/

.restaurants {
    background: $colour-BgSection;
    padding-bottom: 2rem;
    .card {
        @include flexColumn;
        margin:2rem auto;
        width: 90%;
        height: 25.5rem;
        font-size: 1.8rem;
        background-color: white;
        border-radius: 1.5rem;
        position: relative;
        @include shadow;
        h3{
            font-weight: bold;
            margin: 0;
            + p {
                margin: 1rem 0;
            }
        }
        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 18rem;
            margin:0;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
        }
        &:hover {
            @include Hover;
        }
    }
} 

.nouveau {
    position: absolute;
    padding: 0.6rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #3b8468;
    right: 1.6rem;
    top: 1rem;
    background: $colour-tertiary;
}

.figcaption{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2rem;
}

                                                         /*loader*/


 /*page loader*/
 .loader_section{
    @include flexColumn;
    background: $colour-BgSection;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top:15rem;
    animation: visible 100ms 2s linear both;
    
    
    p{
        font-family: $font-title;
        font-size: 5rem;
        color: $colour-primary;
        animation: flash 1.3s ease-in infinite;
        animation-delay: 0.1s;
    }
    .point {
        animation: flash 1.3s ease-in infinite;
    }
    .pt_1 {
        animation-delay: 0.1s;
    }
    .pt_2{
        animation-delay: 0.4s;
    }
    .pt_3{
        animation-delay: 0.7s;
        
    }
}

/*Animation: visibilté du loader*/
@keyframes visible {
    from {
        z-index: 5;
        opacity: 1;
    }
    to {
        z-index: -100;
        opacity: 0;
    }
}

/*Animation loader: effet flash sur 'ohmyfood...' */
@keyframes flash {
    0% {
        color: $colour-secondary;
        text-shadow: 0 0 .7rem $colour-secondary;
    }
    50% {
        color: $colour-primary;
        text-shadow: none;
    }
    100% {
        color: $colour-secondary;
        text-shadow: 0 0 .7rem $colour-secondary;
    }
}

/*bloc du loader_circles*/
.loader{
    width: 10rem;
    height: 10rem;
    display: inline-block;
    
}

/*Animation du loader: Premier cercle qui tourne*/
.loader_circles {
    border-radius: 5rem;
    border: 0.35rem ridge transparent;
    border-top-color: $colour-primary;
    border-bottom-color: $colour-secondary;
    animation: spin 2s linear infinite;
    position: relative;
}

/*Animation du loader: Deuxième cercle qui tourne à l'interieur du premier cercle*/
.loader_circles::after {
    content: '';
    position: absolute;
    top:0.5rem;
    left:0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    border-radius: 5rem;
    border: 0.35rem ridge transparent;
    border-left-color: $colour-secondary;
    border-right-color: $colour-primary;
    opacity: 0.8;
    animation: spinReverse 2s linear  infinite;
}

/*Animation du loader: Troisième cercle qui tourne à l'interieur du deuxième cercle*/
.loader_circles::before {
    content: '';
    position: absolute;
    top:1.2rem;
    left:1.2rem;
    bottom: 1.2rem;
    right: 1.2rem;
    border-radius: 5rem;
    border: 0.35rem ridge transparent;
    border-top-color: $colour-secondary;
    border-bottom-color: $colour-primary;
    opacity: 0.5;
    animation: spin 2s linear  infinite;
}

/*Animation du 'check icon': rotation de l'icone */
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes spinReverse {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-720deg);}
}
                                                /*Reseponsive: Version tablette*/
@media all and(min-width: 767px) {

     /*page loader*/
    .loader_section{
        p{
            font-size: 10rem;  
        }
    }


    .header_accueil{
        .header_logo {
            margin: 0;
            padding: 1rem;
            @include flexMid;
        }
    }

    form {
        height: 6rem;
        i{
            font-size: 2rem;
        }
        input{
            font-size: 2rem;
        }
    
    }
    .section_title {
        font-size: 3rem;
    }

    .fonctionnement ul {
        display: flex;
        li{
            margin: 1.5rem;
            padding: 1.5rem;
            font-size: 1.5rem;
        }
    }
    .restaurants .section_cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4rem;
        .card {
            width: 40%;
            height: 70%;
            margin: 2rem;
        }
    }
}

                                      /*Responsive: Descktop (grand écran)*/

@media all and(min-width: 1024px){
    .loader_section{
        flex-direction: row;
        justify-content: center;
        background: $colour-BgSection;
        position: fixed;
        width: 100%;
        height: 100%;
        line-height: 30rem;
        animation: visible 100ms 2s linear both;
        
        
        p{
            font-size: 10rem;
            height: 50rem;
            padding-left: 2rem;
            color: $colour-primary;
            animation: flash 1.3s ease-in infinite;
            animation-delay: 0.1s;
        }
        .loader{
            margin-bottom: 20rem;
        }
    }

}   
  
                                             /*Reseponsive: Version Descktop très grand écran*/

@media all and(min-width: 1500px) {
    .card {
        img {
            height: 25rem;
        }
        .figcaption {
            height: 10rem;
        }
    }
}
