/*Header*/
.header_menu{
    @include flexColumn;
    position:fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
        
    .header_logo {
        margin:0;
        padding: 0;
    }
    .fleche_accueil {
        font-family: $font-title;
        font-style: 3rem;
        margin-left: 1.5rem;
    }
}

.header_img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    position: fixed;
    top:6rem;
    z-index: -1;
}

/*Sections*/

/*Le principal de la page menu: Nom du restaurant & Sections*/
.main_menu {
    position: relative;
    top: 21.5rem;
    min-height: 142rem;
    height: 100%;
    background-color: $colour-BgSection;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

}

/*Titre page menu: Nom du restaurant*/

.title_two {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font-title;
    font-size: 1.7rem;
    padding: 3rem 0;
    margin: 0;
    
    h2 {
        margin: 0;
    }
}
 /*L'ensemble des sections Entrées Plats & Desserts*/
.menu {
    width:95%;
}

/*Section Entrées, section Plats OU section Desserts*/
.menu_carte {
    font-size: 1.8rem;
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}

/*Contenu de chaque section Entrées, Plats ou Desserts*/
.menu_container {
    background-color: white;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: auto;
    h4 {
       margin:0;
    }
    ul {
        padding: 0;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
    }
    .tarif {
        font-weight: bold;
    }
}

/*Bouton Commander*/
.commander {
    padding-left: 4rem;
    padding-right: 4rem;
}