/*Header*/
.header_menu{
    @include flexMid;
    position:fixed;
    width: 100%;
    background-color: white;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 1;
        
    .header_logo {
        margin:0;
        padding: 0;
        @include flexMid;
    }
    .fleche_accueil {
        font-family: $font-title;
        font-size: 2rem;
        transition: all 0.2s linear;
        position: absolute;
        left: 1.5rem;
        
    }
}

.header_img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    position: fixed;
    top:6rem;
    z-index: -1;
}

/*Sections*/

/*Le principal de la page menu: Nom du restaurant & Sections*/
.main_menu {
    margin-top: 25rem;
    padding-bottom: 3rem;
    height: 100%;
    background-color: $colour-BgSection;
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;

}

/*Titre de la page menu: Nom du restaurant*/
.title_two {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-title;
    font-size: 1.7rem;
    padding-top: 2rem;
    margin-right: 2rem;
}

 /*L'ensemble des sections (entrées plats & desserts): Menu */
.menu {
    width:95%;
}

/*Section Entrées, section Plats OU section Desserts*/
.menu_carte {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    h3 {
        margin-bottom: 1rem;
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: normal;
        &::after {
            content: '';
            width: 3.8rem;
            height: 0.3rem;
            margin-top: 0.4rem;
            background: $colour-tertiary;
            display: block;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}

                                                  /*Apparition progressive du menu*/ 

.entrees {
    .menu_container:nth-child(1) {
        @include appear_menu;
        animation-delay: 0s;
    }
    .menu_container:nth-child(2) {
        @include appear_menu;
        animation-delay: 0.3s;
    }
    .menu_container:nth-child(3) {
        @include appear_menu;
        animation-delay: 0.6s;
    }
    .menu_container:nth-child(4) {
        @include appear_menu;
        animation-delay: 0.9s;
    }
}
.plats {
    .menu_container:nth-child(1) {
        @include appear_menu;
        animation-delay: 1s;
    }
    .menu_container:nth-child(2) {
        @include appear_menu;
        animation-delay: 1.3s;
    }
    .menu_container:nth-child(3) {
        @include appear_menu;
        animation-delay: 1.6s;
    }
}
.desserts {
    .menu_container:nth-child(1) {
        @include appear_menu;
        animation-delay: 1.9s;
    }
    .menu_container:nth-child(2) {
        @include appear_menu;
        animation-delay: 2.2s;
    }
    .menu_container:nth-child(3) {
        @include appear_menu;
        animation-delay: 2.5s;
    }
}

@keyframes appearTrans {
    0%{
        transform: translateY(-1rem);
        opacity: 0; 
    }
    70% {
        opacity: 0.5;
    }
    100% {
       transform: translateY(0);
       opacity: 1;
    }
}

@keyframes appearScale {
    0%{
        transform: scale(0);
        opacity: 0; 
    }
    70% {
        opacity: 0.5;
    }
    
    100% {
       transform: scale(1);
       opacity: 1;
    }
}



/*Contenu de chaque section Entrées, Plats ou Desserts*/
.menu_container {
    background-color: white;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    @include shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: 100%;
    .container_text{  
        width: 80%;
        display: flex;
        flex-direction: column;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: justify;
        
        h4 {
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        p {
            margin: 0;
            padding: 1rem 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .tarif {
        width: 20%;
        text-align: center;
        font-weight: bold;
        padding-top: 3rem;
    }
    .check {
        background: $colour-tertiary;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        transition: all 0.4s ease-in;
        width:0;
        height: 100%;
        @include flexMid;
        .fa-check-circle {
            transition: transform 0.3s ease-in; 
            color:transparent;
            transform: rotate(-0.5turn) ;
        }
    }
    &:hover {                      /*animation: slider vert qui pousse le texte & coche qui tourne */
        cursor: pointer;
        .check {
            width: 30%;
            height: 100%;
            .fa-check-circle {
                font-size: 2.5rem;
                color: #fff;
                position: relative;
                display: inline;
                transform: rotate(-20deg); 
                transition-delay: 0.15s;
            } 
        }
        .container_text {
            width: 50%;
        }
        
    }  
}


                                             /*Responsive page menu: Version tablette et desktop*/
@media all and(min-width: 768px) {
    header {
        .header_menu {
            height: 8rem;
        }
        .header_img {
            height: 50rem;
        }
    }
    .main_menu {
        margin-top: 30rem;
        background: rgba(234, 234, 234,0.4);
    }
}


                                             /*Responsive page menu: Version descktop*/
@media all and(min-width: 1024px) {
    header {
        .header_menu {
            grid-template-columns: 42% 1fr;
            height: 10rem;
        }
        .fa-arrow-left {
            font-size: 2.5rem;
            font-weight: 900;
            transition: all 0.2s linear;
            &:hover {
                font-size: 3.5rem;
           }
        }
       
    }
    .main_menu {
        margin-top: 30rem;
    }
    .title_two {
        font-size: 3rem;
        .fa-heart {
            font-size: 4rem;
        }
    }
    
    .menu_carte{
        h3 {
            font-size: 3rem;
        }
        .menu_container {
            font-size: 2.5rem;
            height: 10rem;
        }
    }
}


