
/*centrer des élements avec Flexbox */
@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Flex column */
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* couleur de text graduée*/
@mixin linearGradient {
    background: -webkit-linear-gradient($colour-secondary, $colour-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*L'ombre de boites*/
@mixin shadow {
    box-shadow: 0 0.5rem 1.5rem $shadow;
}

/*L'ombre de boites lors du survol*/
@mixin shadowHover {                   
    box-shadow: 0 1.5rem 1rem $shadow;
}

/*Hover cards & btn */
@mixin Hover { 
    @include shadowHover;
    cursor: pointer;
    transform: scale(1.03);          
    transition: all 0.3s linear;
}


@mixin appear_menu{
    animation: appearScale 0.5s ease-in;
    animation: appearTrans 2s 0.1s linear;
}