@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin linearGradient {
    background: -webkit-linear-gradient($colour-secondary, $colour-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin shadow {
    box-shadow: 0 0.5rem 1.5rem $shadow;
}


/*Hover cards & btn */

@mixin shadowHover {                   
    box-shadow: 0 1rem 1rem $shadow;
}

@mixin Hover { 
    box-shadow: 0 1rem 1rem $shadow; 
    cursor: pointer;
    transform: scale(1.03);          
    transition: all 0.3s linear;
}

@keyframes appear {
    0%{
        /*transition: translateY(-10rem);*/
        transform: translateY(-10rem);
        opacity: 0; 
    }
    100% {
      /* transition: translateY(0);*/
       transform: translateY(0);
       opacity: 1;
    }
}

@mixin appear_menu {
    animation: appear;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}
