$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-BgForm: #e3e3e3;
$colour-BgSection: #f7f7f7;
$colour-primary_clair: #ab6ef7;
$colour-secondary_clair: #ff8fdf;

$font-title: 'Shrikhand', cursive;


$shadow: #00000033;